<div>
	<a href="/device_profiles">Device Profiles</a> | 
	<a href="/devices">Devices</a> |
	<a href="/sensors">Sensors</a> |
	<a href="/sensor_types">Sensor Types</a> | 
	<a href="/location_readings">Location Readings</a> | 
	<a href="/numeric_readings">Numeric Readings</a> |
	<a href="/string_readings">String Readings</a>
</div>